<!-- <md-toolbar color="primary" class="initToolBar">
  <a id="mainTitle" href="/{{la}}" ><span>simple bingo</span></a>
  <span class="example-fill-remaining-space"></span>
  <ul [hidden]="!navList">
    <li><a (click)="openLanguageDialog()"><i class="material-icons">&#xE894;</i><span>{{ 'language' | translate }}</span></a></li>
  </ul>
  <button (click)="navList = !navList" type="button">
    <span class="sr-only"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</md-toolbar> -->


<mat-toolbar>
 <mat-toolbar-row>
    <span i18n>simple bingo</span>
    <span class="example-fill-remaining-space"></span>
    <ul [hidden]="!navList">
      <li><a (click)="openLanguageDialog()"><i class="material-icons">&#xE894;</i><ng-container i18n>language</ng-container></a></li>
    </ul>
    <mat-icon (click)="navList = !navList" class="example-icon">menu</mat-icon>
 </mat-toolbar-row>
</mat-toolbar>
