mat-toolbar {
  position: absolute;
  top:0;
  background:#3F51B5;
  color: white;
  #mainTitle{
    color:#fff;
    text-decoration: none;
  }
  ul{
    clear: both;
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 111111;
    right: 0;
    color:#333;
    background: #fff;
    li{
      width: 100%;
      display: block;
      padding: 10px;
      border-bottom: 1px solid #89BEFF;
      position: relative;
      font-size: 18px;
      font-weight: normal;
      a{
        width: 100%;
        display: inline-block;
        text-decoration: none;
        color: #333;
        i{
          float:left;
          line-height: 30px;
        }
        span{
          font-size:14px;
          line-height: 30px;
        }
      }
      dl{
        display: table;
        dt{
          display: table-cell;
          vertical-align: middle;
          img{
            width: 36px;
            height: 36px;
          }
        }
        dd{
          display: table-cell;
          padding-left: 4px;
          vertical-align: middle;
        }
      }
    }
  }

  mat-icon{
    position: absolute;
    right: 16px;
  }



}

@media (min-width: 960px){
  mat-toolbar-row {
      width: 960px;
      margin: 0 auto;
      padding: 0;
  }
}

@media (min-width: 600px) {
  mat-toolbar {
    ul{
      display: table;
      font-size: 16px;
      position: relative;
      top: 0;
      background: transparent;
      color: #fff;
          width: initial;
      li{
        width: auto;
        display: table-cell;
        vertical-align: middle;
        padding: 0 12px;
        border: none;
        a{
            color:#fff;
        }
      }
    }
    button{
      display: none;
    }
    mat-icon{
      display: none;
    }
  }
  .example-fill-remaining-space{
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  }
}
