

mat-toolbar {
  background:#3F51B5;
  color: white;
  position: fixed;
  z-index: 111111;
  ul{
    clear: both;
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 1000;
    right: 0;
    color:#333;
    background: #fff;
    li{
      width: 100%;
      display: block;
      padding: 10px;
      border-bottom: 1px solid #89BEFF;
      position: relative;
      a{
        width: 100%;
        display: inline-block;
        text-decoration: none;
        color: #333;
        i{
          float:left;
          line-height: 30px;
        }
        span{
          font-size:14px;
          line-height: 30px;
        }
      }
      dl{
        display: table;
        dt{
          display: table-cell;
          vertical-align: middle;
          img{
            width: 36px;
            height: 36px;
            display: block;
          }
        }
        dd{
          display: table-cell;
          padding-left: 4px;
          vertical-align: middle;
        }
      }
    }
  }
  button{
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    right: 0;
    top: 6px;
    position: absolute;
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }
    span{
      background-color: #fff;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
    }
    .icon-bar+.icon-bar {
        margin-top: 4px;
    }
  }

}

#opener{
  display: none;
  cursor: pointer;
  position: absolute;
  padding: 10px 0;
  background: #ede7f6;
  width: 22px;
  margin-left: -2px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 0 2px 0, rgba(0, 0, 0, 0.258824) 0 2px 2px 0;
}

#inviteForm{
  position: fixed;
  top: 50px;
  width: 100%;
  padding: 10px;
  background-color:#fff;
  z-index: 2;
  text-align: center;
  .gameID{
    font-size: 28px;
    margin: 6px 0;
    padding: 0;
  }
  .trimming {
    position: relative;
    width: 235px;
    height: 235px;
    overflow: hidden;
    text-align: center;
    margin: 20px auto;
    img {
      position: absolute;
      top: -35px;
      left: -35px;
    }
  }
  #socialList {
    margin: 0 auto;
    ul {
      padding: 0;
      margin: 30px -10px 20px;
      li {
        display: inline;
        padding: 0 5px;
        margin: 0 5px;
        a{
          text-decoration: none;
        }
      }
    }
  }
}

header{
  display: none;
}

mat-sidenav {
  width:100%;
  transition: transform 0ms;
  background: #eee;
}

mat-sidenav-container{
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
}

ul.nav{
  background: #3F51B5;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 2px 0 5px 0;
  color: #9d9d9d;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  li{
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-size:11px;
    text-align: center;
    position: relative;
    .icon{
      width: 25px;
      height: 25px;
      line-height: 25px;
      margin: 5px auto 4px;
      border-radius: 100%;
      padding-left: 1px;
      background: #9d9d9d;
      color: #000;
      display: block;
      font-size: 14px;
      text-align: center;
      padding-right: 1px;
      padding-top: 1px;
    }
    i{
      font-size: 32px;
      display: block;
      margin: 0 0 2px;
    }
    &.active{
      color:#fff;
      .icon{
        background:#fff;
      }
      &.navBack,
      &.navMsg,
      &.navPlayer{
        span.pop{
          background: #fff;
          border: 1px solid blue;
          color: #000;
        }
      }
    }
    span.pop{
      position: absolute;
      margin: 0 auto;
      top: 0;
      right: 0;
      left: 0;
      background: #777;
      border: 1px solid #777;
      color: #fff;
      height: 22px;
      width: 22px;
      line-height: 20px;
      border-radius: 100%;
      font-size: 9px;
    }
    &.navBack{
      span.pop{
        left: 40px;
      }
    }
    &.navMsg{
      span.pop{
        left: 40px;
      }
    }
    &.navPlayer{
      span.pop{
        left: 40px;
      }
    }
  }
}

.btnAdd,
.btnClose{
  position: fixed;
  bottom:70px;
  display: none;
  color:#fff;
}
.btnAdd{
  left : 20px;
  background: #4285f4;
  z-index: 1;
}
.btnClose{
  right : 20px;
  background: #d9534f;
  z-index: 3;
  &.player{
    z-index: 1;
  }
}

section.sp{
  .btnAdd,
  .btnClose{
    display: block;
  }
}

#messageForm{
  position: fixed;
  bottom: 52px;
  width: 100%;
  height: 175px;
  padding: 10px;
  background-color: #BADCEA;
  z-index: 2;
  textarea{
    width: 100%;
    margin: 0;
    height: 65px;
    padding: 4px 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
  }
}

#deleteMsg,
#deletePlayer{
  background: #fff;
  position: fixed;
  width: 100%;
  padding: 22px 0;
  bottom: 0;
  z-index: 4;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  -o-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
}


@media (min-width: 600px) {

  header{
    display: block;
  }

  #inviteForm{
    top: 99px;
  }
  #tabA{
    float: left;
  }

  #tabA span,
  #tabB span{
    background: #d9534f;
    padding: 5px;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    line-height: 14px;
    color: #fff;
    margin-left: 6px;
  }
  #opener{
    display: block;
  }
  #btnInvite{
    float: right;
    position: absolute;
    top: 7px;
    right: 50px;
  }

  mat-sidenav-container{
    position: fixed;
    top: 100px;
    height:calc(100vh - 100px);
  }

  mat-sidenav {
    width: 320px;
    padding: 10px 0 10px 10px;
    background-color: #ede7f6;
    md-tab-group{
      background-color: #fff;
    }
  }

  section{
    background: #eee;
    header{
    background: #fff;
    }
  }

  #inviteForm{
    width: 302px;
    ul{
      li img{
        width: 42px;
        height:42px;
      }
    }


  }

  .btnAdd,
  .btnClose{
    position: fixed;
    bottom:20px;
    color:#fff;
    display: block;
  }

  .btnAdd{
    left: 20px;
    background: #4285f4;
    z-index: 1;
  }

  .btnClose{
    left: 235px;
    background: #d9534f;
    z-index: 3;
  }

  .example-fill-remaining-space {
    flex: 1 1 auto;
  }

  ul.nav{
    display: none;
  }

  #messageForm{
    position: fixed;
    bottom: 0;
    width: 310px;
    height: 175px;
    padding: 10px;
    background-color: #BADCEA;
    z-index: 2;
    textarea{
      width: 290px;
      margin: 0;
      height: 65px;
      padding: 4px 8px;
      box-sizing: border-box;
      margin-bottom: 10px;
      font-size: 16px;
      border: none;
    }
  }

  #deleteMsg,
  #deletePlayer{
    background: #fff;
    position: fixed;
    width: 320px;
    padding: 22px 0;
    bottom: 0;
    z-index: 4;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-box-pack: justify;
    -o-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
  }

}


@media (min-width: 1000px) {
  .mat-sidenav-content{
    background: #eee;
  }

  mat-toolbar {
    padding: 0 65px;
    position: relative;
    ul{
      display: table;
      font-size: 16px;
      position: relative;
      top: 0;
      background: transparent;
      color: #fff;
          width: initial;
      li{
        width: auto;
        display: table-cell;
        vertical-align: middle;
        padding: 0 12px;
        border: none;
        cursor: pointer;
        a{
            color:#fff;
        }
      }
    }
    button{
      display: none;
    }
  }

}
