$hitColor : pink;

#back{
  margin: 0;
  padding: 10px 10px 50px;
  ul {
    margin: 0 auto;
    padding: 0;
    li {
      float: left;
      text-align: center;
      padding: 1px;
      list-style: none;
      position: relative;;
      span{
        background:#bbb;
        color: #fff;
        display: block;
        height: 100%;
        margin: 0;
        &.index{
          position: absolute !important;
          font-size: 3vmin;
          bottom: 0;
          right: 0;
          line-height: 1em;
          right: 4px;
          margin-bottom: 2px !important;
          display: block !important;
          height: auto;
          background: transparent !important;
          height: auto !important;
          width: auto !important;
          color: #fff !important;
          display: block;
        }
      }
      &.hit{
        span{
          background: $hitColor;
          color:#000;
        }
      }
    }
  }
}


@media (max-width: 800px) {
  #back{
    padding: 0;
    ul{
      width: auto !important;
      margin: 0 auto;
      padding: 10px 0px 100px 30px;
      &:after {
        content: " ";
        display: block;
        clear: both;
      }
      li {
        float: left;
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 1px;
        width: calc(20vmin - 8px) !important;
        height: calc(20vmin - 8px) !important;
        line-height: calc(20vmin - 5px) !important;
        font-size: calc( 10vmin - 2px) !important;
        border: none;
        span{
          &.index{
            font-size: 4vmin;
          }
        }
      }
      &.navopen{
        li{
          width: calc(20vmin - 70px) !important;
          height: calc(20vmin - 70px) !important;
          line-height: calc(20vmin - 65px) !important;
          font-size: calc( 13vmin - 62px) !important;
          span{
            &.index{
              font-size: 2.5vmin;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 600px) {
  #back{
    ul{
      padding: 10px 10px 62px;
      li {
        width: calc(20vmin - 4px) !important;
        height: calc(20vmin - 4px) !important;
        line-height: calc(20vmin - 5px) !important;
        font-size: calc( 10vmin - 2px) !important;
        span{
          &.index{
            font-size: 4.5vmin;
          }
        }
      }
    }
  }
}
